::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

::-webkit-scrollbar
{
  width: 10px;
  background-color: #FFF;//
}

::-webkit-scrollbar-thumb
{
  background-color: #b2b3b4;
  display:none;
}
:hover::-webkit-scrollbar-thumb
{
  background-color: #b2b3b4;
  display:block;
}
#nav::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

#nav::-webkit-scrollbar
{
  width: 1px;
  background-color: #FFF;
}

#nav::-webkit-scrollbar-thumb
{
  background-color: #b2b3b4;
  display:none;
}
#nav:hover::-webkit-scrollbar-thumb
{
  background-color: #b2b3b4;
  display:block;
}

.bd-menu-7.nav-pills .bd-menuitem-22:not(.bd-mega-item) {
  width: 100%;
}
.titulo-post-navidad, .introduccion-post-navidad, .titulo-pasos-navidad, .num {
  font-family: 'Mouse Memoirs', sans-serif !important;
  color: #C60879;
  font-size: 18px;
}
.maxh-col{
  height: 375px;
  max-height: 375px;
  overflow-y: hidden;
}
.maxh-col:hover {
  overflow: auto;
}
.padding-pasos {
  padding: 20px;
}
.titulo-pasos-navidad{
  font-size: 30px;
}


@media (max-width: 1200px){
  .maxh-col{
    height: auto;
    overflow-y: hidden;
  }

}

.modal-header {
  padding: 15px;
  border-bottom: 0px solid #e5e5e5;
  min-height: 16.42857143px;
}
.modal-content {
  position: relative;
  background-color: rgba(255, 255, 255, 0);
  border: 0px solid #999999;
  border: 0px solid rgba(0, 0, 0, 0);
  border-radius: 0px;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0);
  background-clip: padding-box;
  outline: none;
}
.modal-title {
  margin: 0;
  font-size: 40px;
  font-weight: 300;
  line-height: 1.42857143;
  color: #fff;
}

@media (min-width: 768px){
  .modal-dialog {
    width: 600px;
    margin: 150px auto;
  }
}
.close {
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 1;
  filter: alpha(opacity=20);
}

.modal-back-thanks {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000000;
  opacity: .5;
  display: none;

}

.modal-thanks {
  display: none;
  overflow: auto;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}

.hr-special {
  margin-top: 0px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #b2533f;
  width: 40%;
}

.gracias-font {
  font-size: 58px;
  font-weight: bolder;
}

.btn-thanks {
  margin-top: 30px;
  color: #d2d3d1;
  border: solid 2px #6f6d6b;
  padding: 10px 20px;
  border-radius: 5px;
}

.btn-thanks:hover {
  color: #6f6d6b;
  background-color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
  border: solid 2px #6f6d6b;
  padding: 10px 20px;
  border-radius: 5px;
}

.tptn_posts_daily .tptn_title, .tptn_posts .tptn_title {
  font-weight: bold;
  display: inline-block;
  padding-bottom: 5px;
  text-decoration: none;
  line-height: 1.1em;
  color: #fff;
  padding-top: 15px;
  font-style: oblique;
}

img.tptn_thumb {
  display: block;
  float: left;
  clear: left;
  margin-right: 10px !important;
  padding: 0px !important;
  border: 2px #ffffff solid;
  vertical-align: bottom;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.4);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.4);
  box-shadow: 0 1px 2px rgba(0,0,0,.4);
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}

.modal-back-thanks {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000000;
  opacity: .5;
  display: none;

}

.modal-thanks {
  display: none;
  overflow: auto;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}

.hr-special {
  margin-top: 0px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #C60879;
  width: 40%;
}

.gracias-font {
  font-size: 58px;
  font-weight: bolder;
}

.btn-thanks {
  margin-top: 30px;
  color: #d2d3d1;
  border: solid 2px #6f6d6b;
  padding: 10px 20px;
  border-radius: 5px;
}

.btn-thanks:hover {
  color: #6f6d6b;
  background-color: rgba(0, 0, 0, 0.50);
  text-decoration: none;
  border: solid 2px #6f6d6b;
  padding: 10px 20px;
  border-radius: 5px;
}
.bd-block-11 {
  margin-top: 20px;
  margin-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
}


@media screen and (max-width: 1024px){
  .bd-layoutbox-19 {
    height: 150px !important;
  }
  .bd-hmenu-6 .navbar-collapse .bd-horizontalmenu-11 .nav li a {
    white-space: normal !important;
    color: #fff !important;
  }
  .bd-hmenu-9 .navbar-collapse .bd-horizontalmenu-10 .nav li a {
    color: #fff !important;
    text-transform: uppercase !important;
    white-space: normal !important;
  }

  @media all and (min-width: 1200px) and (max-width: 1399px){
    .bd-layoutbox-19 {
      height: 435px !important;
    }
    .bd-container-inner .bd-customcmscode-2 div {
      background-position-y: 65% !important;
    }
  }

  @media all and (min-width: 1400px) and (max-width: 1920px){
    .bd-layoutbox-19 {
      height: 32vw !important;
    }
    .bd-container-inner .bd-customcmscode-2 div {
      background-position-y: 65% !important;
    }
  }
}

.tptn_posts_widget2{
  ul{
    li{
      border-bottom: 1px solid #F888F6;
      padding-bottom: 14px !important;

      &:last-child{
        border-bottom: none;
      }

      a{
        &:first-child{
          display: inline-block;
        }
      }//
    }

  }
}

.bd-layoutitemsbox-6 {
  position: relative;
  background-attachment: fixed;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0);
  background-image: url(images/fondo-madera.jpg);
  background-repeat: no-repeat;
  background-position: center center;
}
/*
.bd-layoutcontainer-28 {
  position: relative;
  background-color: transparent !important;
}*/

.bd-footerarea-1 {
  background-repeat: repeat-x;
  background-position: top;
  padding-top: 250px;
  background-size: auto 100%;
  z-index: 100;
  overflow: visible;
  position: relative;
  margin-top: -355px;

  @media screen and (max-width: 1000px) {
    background-size: cover;
  }

  @media screen and (max-width: 500px){
    background-size: auto 87%;
    background-position: bottom center;
  }
}

.bd-layoutcontainer-10 {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(0, 0, 0, 0.78);
}
.bd-flex-wide:not(.bd-flex-horizontal) {
  padding-bottom: 130px;
}

.bd-layoutcontainer-28 {
  position: relative;
  background-color: transparent;
}

.portafolio {
  width: 100%;
  max-width: 90%;
  padding: 60px 40px;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 190px;

  @media screen and (max-width: 700px){
    padding-top: 40px;
  }

  h4 {
    font-family: 'Mouse Memoirs', sans-serif !important;
    color: #C60879 !important;
    text-transform: uppercase;
    display: block;
    margin-top: 20px;
    font-size: 28px;
  }
  p {
    font-size: 16px;
    color: #919193;
    font-family: Roboto, Arial, 'Arial Unicode MS', Helvetica, sans-serif;

    br{
      @media screen and (max-width: 1580px) {
        display: none;
      }//
    }
  }
  .portafolio--imagen {
    display: flex;
    display: -moz-flex;
    display: -webkit-flex;
    align-items: flex-end;
    text-align: center;
    height: auto;
    min-height: 220px;
    max-height: 220px;
    padding-left: 25px;
    padding-right: 25px;



    @media screen and (max-width: 767px){
      max-height: 100%;
      min-height: auto;
    }

    img {
      display: inline-block;
    }
  }
  .row {
    margin-bottom: 30px;
  }
}

.bd-icon-67:before {
  color: #fff !important;
  border: 2px solid #fff !important;
}

.page-template-portafolio{
  .bd-footerarea-1 {
    padding-bottom: 110px;
  }
}

body{
  background-image: url("/pascua/wp-content/uploads/2018/03/fondo-madera.jpg") !important;
  background-size: contain !important;
  background-position: top center !important;
  background-repeat: repeat !important;
}

.bd-postcontent-9, .bd-layoutitemsbox-9, .bd-article-9, .bd-layoutitemsbox-6 {
  background: transparent !important;
}

.tg-item-content-holder{
  .tg-item-title{
    a{
      font-family: 'Mouse Memoirs', sans-serif !important;
      color: #C60879 !important;
      fill: #C60879 !important;
      stroke: #C60879 !important;
      font-size: 25px !important;
      font-weight: normal !important;
    }
  }
}


.page-template-portafolio{
  margin-bottom: -110px;
}

.kampala .tg-item-read-more a {
  display: inline-block !important;
  float: left !important;
  border: 2px solid #72B101 !important;
  background-color: #72B101 !important;
  padding: 8px 20px !important;
  color: #FFF !important;
  text-transform: uppercase !important;
  font-size: 12px !important;
}

.tg-item .dark .no-liked .to-heart-icon path{
  color: #C60879 !important;
  fill: #C60879 !important;
  stroke: #C60879 !important;
}

.tg-item .tg-cats-holder a.category span{
  display: block;
  color: #33622B !important;
  fill: #33622B !important;
  stroke: #33622B !important;
  font-weight: 400;
  letter-spacing: 1.24px;
  margin-bottom: 8px;
}

.kampala .tg-item-excerpt {
  line-height: 22px !important;
  margin: 0 !important;
  padding: 10px 0 0 0 !important;
}

.bd-block-11 .bd-blockheader h4 {
  font-family: 'Noto Sans', sans-serif !important;
  font-size: 18px;
  font-weight: normal;
}

ul.nav-pills{
  li{
    a{
      font-family: 'Noto Sans', sans-serif !important;
      span{
        font-family: 'Noto Sans', sans-serif !important;//
      }
    }
  }
}

.tptn_posts.tptn_posts_widget.tptn_posts_widget2{
  ul{
    li{
      a{
        span{
          font-family: 'Noto Sans', sans-serif !important;
          font-weight: normal !important;
        }
      }
    }
  }
}

.banner-interna {//
  background-position: center center;

  @media (max-width: 1920px) and (min-width: 1600px){
    background-position-y: 78% !important;
  }

  @media (max-width: 1600px) and (min-width: 1400px){
    background-position-y: 78% !important;
    background-position-x: 86% !important;
  }

  @media (max-width: 1399px) and (min-width: 1200px){
    background-position-x: 86% !important;
  }

}

.bd-layoutbox-19 {
  height: 580px;

  @media screen and (max-width: 1600px){
    height: 480px;
  }
}

.bd-layoutbox-27 {
  background-color: transparent !important;

  h2 {
    font-family: 'Mouse Memoirs', sans-serif !important;
    color: #C60879 !important;
    fill: #C60879 !important;
    stroke: #C60879 !important;
    font-weight: normal !important;
  }

  .titulo-pasos-navidad{
    font-family: 'Mouse Memoirs', sans-serif !important;
    color: #C60879 !important;
    font-weight: normal !important;
    font-size: 30px;
  }

  a {
    color: #C60879 !important;
  }

  p{
    color: #444849 !important;
  }

}

@media screen and (max-width: 767px){
  .bd-customcmscode-3{
    img{
      width: 100%;
    }
  }

  .bd-flex-wide:not(.bd-flex-horizontal) {
    padding-bottom: 0px;
  }
}

@media (max-width: 767px){
  .collapse-button .bd-menuitem-67:not(.bd-mega-item) > a:before, .collapse-button .bd-menuitem-67:not(.bd-mega-item) > a:link:before, .collapse-button .bd-menuitem-67:not(.bd-mega-item) > a:visited:before {
    color: #ffffff !important;
  }

  .collapse-button .bd-menuitem-61:not(.bd-mega-item):not(.active) > a.hover:not(.active):before, .collapse-button .bd-menuitem-61:not(.bd-mega-item):not(.active) > a:hover:not(.active):before, .collapse-button .bd-menuitem-61:not(.bd-mega-item):not(.active) > a:focus:not(.active):before, .collapse-button .bd-menuitem-61:not(.bd-mega-item):hover:not(.active) > a:not(.active):before {
    color: #ffffff !important;
  }

  .collapse-button .bd-menuitem-61:not(.bd-mega-item) > a:before, .collapse-button .bd-menuitem-61:not(.bd-mega-item) > a:link:before, .collapse-button .bd-menuitem-61:not(.bd-mega-item) > a:visited:before {
    color: #ffffff !important;
  }
}

@media (max-width: 500px) {
  .home {
    .bd-footerarea-1 {
      background-size: auto 78%;
      background-position: bottom center;
      padding-bottom: 0;
    }

    .home{
      .bd-layoutitemsbox-6 {
        position: relative;
        background-attachment: fixed;
        background-size: cover;
        background-color: transparent;
        background-image: url(images/fondo-madera.jpg);
        background-repeat: repeat;
        background-position: center center;
        padding-bottom: 100px !important;
        margin-bottom: -103px !important;
      }
    }
  }

  .separated-grid.row {
    padding-bottom: 200px;
  }

  .page-template-portafolio{
    .bd-footerarea-1 {
      background-size: auto 87%;
      background-position: bottom center;
      padding-bottom: 105px;
    }

    .separated-grid.row {
      padding-bottom: 200px;
      margin-bottom: -185px;
    }
  }

}

footer{
  @media screen and (max-width: 480px){
    .bd-blockcontent.bd-tagstyles.bd-bootstrap-btn.bd-btn-success {
      img{
        position: relative;
        top: 38px;
      }
    }
  }
}




.collapse-button .bd-menuitem-67:not(.bd-mega-item)>a:before, .collapse-button .bd-menuitem-67:not(.bd-mega-item)>a:link:before, .collapse-button .bd-menuitem-67:not(.bd-mega-item)>a:visited:before {
  color: transparent !important;
  background-image: url(/pascua/wp-content/themes/EscolarColombina/images/menu.svg);
  background-size: cover;
  width: 30px;
  height: 30px;
}

.collapse-button .bd-menuitem-61:not(.bd-mega-item)>a:before, .collapse-button .bd-menuitem-61:not(.bd-mega-item)>a:link:before, .collapse-button .bd-menuitem-61:not(.bd-mega-item)>a:visited:before {
  color: transparent !important;
  background-image: url(/pascua/wp-content/themes/EscolarColombina/images/ellipsis.svg);
  background-size: cover;
}

.collapse-button .bd-menuitem-61:not(.bd-mega-item):not(.active)>a.hover:not(.active):before, .collapse-button .bd-menuitem-61:not(.bd-mega-item):not(.active)>a:hover:not(.active):before, .collapse-button .bd-menuitem-61:not(.bd-mega-item):not(.active)>a:focus:not(.active):before, .collapse-button .bd-menuitem-61:not(.bd-mega-item):hover:not(.active)>a:not(.active):before {
  color: transparent !important;
}